p {
  background-color: yellow;
}

p.ex {
  border: 1px solid red;

  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 100px;
  margin-right: 150px;

  /*You can Use Both the Normal way or the Shorthand Property*/
}
