ul.a {
  list-style-type: circle; //*Ordered and Unordered list as styled as classes*/
}
ul.b {
  list-style-type: square;
}
ul.c {
  list-style-type: upper-roman;
}
ul.d {
  list-style-type: lower-alpha;
}
